.btn
  text:
    transform: uppercase
    align: center
    shadow: 0 1px 1px rgba(0, 0, 0, 0.7)
  font:
    size: 16px
    weight: $bold
    family: "Montserrat", sans-serif
  color: white
  letter-spacing: -0.4px
  line-height: 2.75
  border: none
  border-radius: 30px
  padding: 0 33px
  height: 60px

.btn:hover
  cursor: pointer
  background-color: $brand-primary-dark

.btn--primary
  background-color: $brand-primary
  margin-top: 35px
