.culture-section
  font-family: "Roboto Slab", serif
  display: flex
  flex-direction: column
  justify-content: center
  padding: 90px 0 84px
  text-align: center
  color: $gray-light
  background-color: $gray-lightest

.culture
  display: flex
  flex-direction: column
  justify-content: space-around
  +breakpoint(tablet)
    flex-direction: row

.culture__item
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  font-size: 14px
  letter-spacing: -0.4px
  margin-bottom: 20px
  +breakpoint(tablet)
    margin: 0 auto

.culture__item:nth-child(2)
  position: relative
  +breakpoint(tablet)
    margin: auto 56px
    &:before
      position: absolute
      left: -80px
      top: 43px
      content: ""
      width: 100px
      height: 3px
      background-color: $gray-light
    &:after
      position: absolute
      right: -80px
      top: 43px
      content: ""
      width: 100px
      height: 3px
      background-color: $gray-light
  +breakpoint(desktop)
    &:before
      width: 170px
      left: -113px
    &:after
      width: 170px
      right: -113px

.culture__image
  height: 50px

.culture__title
  font:
    family: "Montserrat", sans-serif
    weight: $bold
    size: 18px
  text-transform: uppercase
  color: $gray-base
  margin: 10px 0 0
  letter-spacing: -0.5px
  +breakpoint(tablet)
    margin: 40px 0 0
