.project-section
  padding: 100px 0

.project-section__content
  display: flex
  background: url("../media/isometric_iPad_Air.png") no-repeat
  background-position: right
  background-size: contain

.project-container
  display: flex

.project-container__image
  display: flex
  flex: 0.5
  order: 1

.project
  display: flex
  flex: 0.5
  flex-direction: column
  font-family: "Roboto Slab", serif
  letter-spacing: -0.4px
  color: $gray-light

.project__title
  margin: 8px 0
  color: $gray-base

.project__list
  list-style: none
  padding: 0
  font-size: 16px
  margin: 12px 0 0 0

.project__list-item
  padding: 25px 0 25px 90px
  display: flex
  flex-direction: column
  justify-content: center

.list-item__title
  margin: 0
  text-transform: none
  color: $gray-base

.list-item__content
  margin: 0

.project__list-item--e-commerce
  background: url("../media/baseket_icon.png") no-repeat
  background-position: left center

.project__list-item--seo
  background: url("../media/seo_icon.png") no-repeat
  background-position: left center

.project__list-item--encryption
  background: url("../media/secure_icon.png") no-repeat
  background-position: left center

.project__link
  font:
    family: "Montserrat", sans-serif
    weight: $bold
  text-decoration: none
  color: $brand-primary
  text-transform: uppercase

.project__link:hover
  color: $brand-primary-dark

