.services-section
  font-family: "Roboto Slab", serif
  display: flex
  flex-direction: column
  justify-content: center
  padding: 90px 0 84px
  text-align: center
  color: $gray-light

.services
  display: flex
  justify-content: space-around

.services__item
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  font-size: 14px
  letter-spacing: -0.4px

.services__item:nth-child(2)
  margin: auto 56px

.services__image
  height: 50px

.services__title
  font:
    family: "Montserrat", sans-serif
    weight: $bold
    size: 18px
  text-transform: uppercase
  color: $gray-base
  margin: 40px 0 0
  letter-spacing: -0.5px
