@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700|Roboto+Slab");
body {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
@media (min-width: 48em) {
  .container {
    max-width: 48em;
  }
}
@media (min-width: 62em) {
  .container {
    max-width: 62em;
  }
}
@media (min-width: 75em) and (max-width: 940px) {
  .container {
    max-width: 75em;
  }
}

.btn {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: -0.4px;
  line-height: 2.75;
  border: none;
  border-radius: 30px;
  padding: 0 33px;
  height: 60px;
  transition: all 300ms;
}

.btn:hover {
  cursor: pointer;
  background-color: #5ab652;
}

.btn--primary {
  background-color: #7cc576;
  margin-top: 35px;
}

.btn--transparent {
  color: white;
  padding: 10px 28px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.5px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border-color: white;
  border-width: 3px;
  border-radius: 10px;
  border-style: solid;
  transition: all 300ms;
}

.btn--transparent:hover {
  cursor: pointer;
  color: #7cc576;
  border-color: #7cc576;
  background-color: white;
}

.header {
  width: 100%;
  background-color: white;
  height: 115px;
  color: #777777;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #555555;
  line-height: 30px;
  font-size: 18px;
  letter-spacing: -0.5px;
}

.logo {
  border-radius: 50%;
  background-color: #7cc576;
  padding: 7px 8px;
  margin: 4px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
}

.menu__item {
  list-style: none;
  padding: 0 17px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2.93;
}

.menu__link {
  text-decoration: none;
  color: inherit;
}

.menu__link:visited {
  color: inherit;
}

.menu__link:hover {
  color: #222222;
}

.headline {
  margin-bottom: 70px;
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: #777777;
}

.headline__title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  letter-spacing: -2px;
  color: #222222;
}

.hero-section {
  background: url("../media/hero_image.jpg");
  background-size: cover;
}

.hero-section__overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.hero-section__content {
  padding: 120px 0;
  color: #cccccc;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.5px;
  font-weight: 300;
}

.hero-section__headline {
  color: white;
  font-size: 60px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 1.08;
  letter-spacing: -3px;
  text-transform: uppercase;
  margin: auto 40px;
}

.services-section {
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 90px 0 84px;
  text-align: center;
  color: #777777;
}

.services {
  display: flex;
  justify-content: space-around;
}

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.4px;
}

.services__item:nth-child(2) {
  margin: auto 56px;
}

.services__image {
  height: 50px;
}

.services__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #222222;
  margin: 40px 0 0;
  letter-spacing: -0.5px;
}

.relax-section {
  background-color: #e9e9e9;
  display: flex;
}

.relax {
  display: flex;
  background: url("../media/see_imgae.jpg");
  background-size: cover;
  flex: 0.65;
}

.gear {
  flex: 0.35;
  background: url("../media/gear.svg") no-repeat;
  background-position: center right;
}

.relax__overlay {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
}

.relax-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  letter-spacing: -0.4px;
  color: #cccccc;
  margin-left: 0;
}

.relax__headline {
  color: white;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -2px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.relax__headline--primary {
  color: #7cc576;
}

.relax__description {
  padding-right: 100px;
}

.relax__list {
  list-style: none;
  padding: 0;
  font-size: 16px;
}

.relax__list-item {
  padding: 13px 50px;
  background: url("../media/Checkmark.svg") no-repeat;
  background-position: left center;
}

.project-section {
  padding: 100px 0;
}

.project-section__content {
  display: flex;
  background: url("../media/isometric_iPad_Air.png") no-repeat;
  background-position: right;
  background-size: contain;
}

.project-container {
  display: flex;
}

.project-container__image {
  display: flex;
  flex: 0.5;
  order: 1;
}

.project {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  font-family: "Roboto Slab", serif;
  letter-spacing: -0.4px;
  color: #777777;
}

.project__title {
  margin: 8px 0;
  color: #222222;
}

.project__list {
  list-style: none;
  padding: 0;
  font-size: 16px;
  margin: 12px 0 0 0;
}

.project__list-item {
  padding: 25px 0 25px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-item__title {
  margin: 0;
  text-transform: none;
  color: #222222;
}

.list-item__content {
  margin: 0;
}

.project__list-item--e-commerce {
  background: url("../media/baseket_icon.png") no-repeat;
  background-position: left center;
}

.project__list-item--seo {
  background: url("../media/seo_icon.png") no-repeat;
  background-position: left center;
}

.project__list-item--encryption {
  background: url("../media/secure_icon.png") no-repeat;
  background-position: left center;
}

.project__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #7cc576;
  text-transform: uppercase;
}

.project__link:hover {
  color: #5ab652;
}

.culture-section {
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 90px 0 84px;
  text-align: center;
  color: #777777;
  background-color: #f9f9f9;
}

.culture {
  display: flex;
  justify-content: space-around;
}

.culture__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.4px;
}

.culture__item:nth-child(2) {
  margin: auto 56px;
  position: relative;
}
.culture__item:nth-child(2):before {
  position: absolute;
  left: -113px;
  top: 43px;
  content: "";
  width: 170px;
  height: 3px;
  background-color: #777777;
}
.culture__item:nth-child(2):after {
  position: absolute;
  right: -113px;
  top: 43px;
  content: "";
  width: 170px;
  height: 3px;
  background-color: #777777;
}

.culture__image {
  height: 50px;
}

.culture__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #222222;
  margin: 40px 0 0;
  letter-spacing: -0.5px;
}

.clients-section {
  padding: 100px 0 60px;
}

.client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-size: 22px;
  text-align: center;
  color: #777777;
  margin: 20px auto 40px;
}

.client:nth-child(2n) {
  flex-direction: row-reverse;
}

.client__img {
  background-color: #f9f9f9;
  border-radius: 50%;
  height: 200px;
  flex: 0.25;
}

.client__content {
  background-color: #f9f9f9;
  padding: 40px 45px;
  flex: 0.75;
  margin: 0 40px;
}

.client__comment {
  margin: 0;
}

.client__signature {
  font-size: 18px;
  line-height: 2;
  color: #7cc576;
  margin-bottom: 0;
}

.contact-section {
  padding: 70px 0;
  background-color: #7cc576;
}

.contact {
  text-align: center;
  color: white;
}

.contact__headline {
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -2px;
  margin: 0 auto 30px;
}

/*# sourceMappingURL=style.css.map */
